body{
    font-family: 'Comfortaa', cursive;
    font-family: 'Lato', sans-serif;
}

.body{
    font-family: 'Comfortaa', cursive;
    font-family: 'Lato', sans-serif;
}
.container{
    max-width: 850px;
    margin: 0 auto;
}

.ma{
    position: relative;
    overflow: hidden;
    height: 426px;
}

.kma{
    position: relative;
    // overflow: hidden;
    height: 417px;
    top: 177px;
}

.container-wrap{
    width: 85%;
    margin: 0 auto;
}